<h1 style="margin-left: 15px;">Organ Printer</h1>

<% if flash[:error] != nil %>
    <font color="RED">
      <marquee BGCOLOR=YELLOW scrollamount="20">
        <i>========= |<%= flash[:error] %>| =========</i>
      </marquee>
    </font>
<% end %>


<h3 style="margin-left: 15px;">Print a new organ by selecting the correct combination of components</h3>

<%= form_for @user_organ, url: {action: "create"} do |f| %>
  <span class="container center-text" style="font-size: 20pt;">
    <%= f.label :organ_id %>
    <%= f.collection_select :organ_id, @organs, :id, :name %>
  </span>

<div class="container-main container-fluid">

  <div class="row">
    <h4 class="container center-text"><%= f.label "Components:" %></h4>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <% @components.each do |component| %>
        <%= label_tag "| #{component.name} - $#{component.price} ->" %>
        <%= check_box_tag "components[]", component.id, @selected_components.include?(component.id.to_s) %>
      <% end %>
    </div>
  </div>

  <div class="container center-text">
    <%= f.submit class:"btn btn-success" %>
  </div>
    <% end %>

</div>
