<h1>Current Selling Price of This <%= @user_organ.organ.name %></h1>
<h2> $<%= @price %></h2>

<% if @user_organ.organ.try(:image) %>
<%= image_tag @user_organ.organ.image, style:"height:400px;width:500px;" %>
<% end %>

<%= form_tag user_organ_path(@user_organ), method: :delete do %>
<%= hidden_field_tag :price, @price %>
<%= submit_tag "Sell" %>
<% end %>

<%= button_to "Store for $100", '/store', method: :put %>
