<!DOCTYPE html>
<html>
  <head>
    <title>OrganPrinter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <nav class="nav">
      <% if @logged_in %>

        <h2>Logged in as <%= @current_user.username %></h2>
        <h2>Remaining Balance: <%= @current_user.balance %></h2>
        <%= button_to "Logout", "/logout", method: :delete %>
        <%= button_to 'Profile', @current_user, method: :get %>

      <% else %>
        <%# link_to "Home", "/colors" %>
        <%= button_to "Login", "/login", method: :get %>
        <%= button_to "Register", new_user_path, method: :get %>

      <% end %>
    </nav>
      <!-- code below is broken-->
      <% if !!flash[:message] %>
        <p><%= flash[:message] %></p>
      <% end %>

    </header>

    <%= yield %>

  </body>
</html>
