<!-- LOGIN NEW PAGE -->

<h4 id="login_title" class="container text-center">Input Credentials</h4>

<div class="container text-center">
  <%= form_tag '/login' do %>
    <p><%= label_tag :username %></p>
    <%= text_field_tag :username %>

    <p><%= label_tag :password %></p>
    <%= password_field_tag :password %>
    <br><br>
    <%= submit_tag "Login", class:"btn, btn-success" %>
  <% end %>
</div>
