<!-- USER NEW PAGE -->

<h1 class="container text-center">Registration</h1>

<div class="container text-center">
  <%= form_for @user do |f| %>
    <p><%= f.label :username %></p>
    <%= f.text_field :username %>

    <p><%= f.label :password %></p>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Register" %>
  <% end %>
</div>
